In [71]:
import pandas as pd

In [72]:
df=pd.read_csv('smart_watches_amazon.csv')

In [73]:
df.head()

,Name,price,Brand,Style,Colour,Screen Size,Special Feature,Target Audience,Unnamed: 8,Age Range (Description),Shape
0,"Fire-Boltt Ninja Call Pro Plus 1.83"" Smart Wat...","1,799",Fire-Boltt,Modern,Black,1.83 Inches,bluetooth,"Unisex Teen, Unisex Adult",NaN,Youth,square
1,Fire-Boltt Phoenix Smart Watch with Bluetooth ...,"1,799",Fire-Boltt,Modern,Black,1.3 Inches,bluetooth,"Unisex Teen, Unisex Adult",NaN,Youth,square
2,Fire-Boltt Ninja Call Pro Smart Watch Dual Chi...,"1,449",Fire-Boltt,Modern,Black,1.69 Inches,bluetooth,"Unisex Teen, Unisex Adult",NaN,Youth,square
3,Fire-Boltt Ninja 3 Smartwatch Full Touch 1.69 ...,"1,299",Fire-Boltt,Modern,Black,1.69 Inches,bluetooth,"Unisex Teen, Unisex Adult",NaN,Youth,square
4,"Fire-Boltt Ninja Call Pro Plus 1.83"" Smart Wat...","1,799",Fire-Boltt,Modern,Pink,1.83 Inches,bluetooth,"Unisex Teen, Unisex Adult",NaN,Youth,square

In [74]:
df.isnull().sum()

Name                          0
price                       148
Brand                         0
Style                        65
Colour                       45
Screen Size                 545
Special Feature            1500
Target Audience            1810
Unnamed: 8                 2196
Age Range (Description)    2225
Shape                      2095
dtype: int64

In [75]:

df=df.drop('Unnamed: 8',axis=1)

In [76]:
df.shape

(2316, 10)

In [77]:
df['price'] = df['price'].replace(',', '', regex=True)

In [78]:
df['price']=df['price'].astype(float)

In [79]:
df['price']=df['price'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [126]:
mean_price=df['price'].mean()

In [127]:
df['price']=df['price'].fillna(mean_price)

In [128]:
max_style=df['Style'].mode()[0]

In [129]:
df['Style']=df['Style'].fillna(max_style)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2316 entries, 0 to 2315
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     2316 non-null   object
 1   price                    2316 non-null   float64
 2   Brand                    2316 non-null   object
 3   Style                    2316 non-null   object
 4   Colour                   2271 non-null   object
 5   Screen Size              1771 non-null   object
 6   Special Feature          816 non-null    object
 7   Target Audience          506 non-null    object
 8   Age Range (Description)  91 non-null     object
 9   Shape                    221 non-null    object
dtypes: float64(1), object(9)
memory usage: 181.1+ KB

In [ ]:
color=df['Colour'].mode()[0]

In [ ]:
df['Colour']=df['Colour'].fillna(color)

In [ ]:
screen=df['Screen Size'].mode()[0]

In [ ]:
df['Screen Size']=df['Screen Size'].fillna(screen)

In [ ]:
df['Screen Size'] = df['Screen Size'].replace('Inches', '', regex=True)

In [133]:
df1=df[df.duplicated()]

In [132]:
df=df.drop_duplicates().reset_index(drop=True)

In [131]:
df.shape

(455, 7)

In [130]:
df.isnull().sum()

price                0
Style                0
Colour               0
Screen Size          0
Special Feature      0
Target Audience    455
Shape                0
dtype: int64

In [ ]:
df2=pd.read_csv('smart_watches_amazon1.csv')

In [ ]:
df2.shape

(2316, 12)

In [ ]:
df

,Name,price,Brand,Style,Colour,Screen Size,Special Feature,Target Audience,Age Range (Description),Shape
0,"Fire-Boltt Ninja Call Pro Plus 1.83"" Smart Wat...",1799.000000,Fire-Boltt,Modern,Black,1.83,bluetooth,"Unisex Teen, Unisex Adult",Youth,square
1,Fire-Boltt Phoenix Smart Watch with Bluetooth ...,1799.000000,Fire-Boltt,Modern,Black,1.3,bluetooth,"Unisex Teen, Unisex Adult",Youth,square
2,Fire-Boltt Ninja Call Pro Smart Watch Dual Chi...,1449.000000,Fire-Boltt,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",Youth,square
3,Fire-Boltt Ninja 3 Smartwatch Full Touch 1.69 ...,1299.000000,Fire-Boltt,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",Youth,square
4,"Fire-Boltt Ninja Call Pro Plus 1.83"" Smart Wat...",1799.000000,Fire-Boltt,Modern,Pink,1.83,bluetooth,"Unisex Teen, Unisex Adult",Youth,square
...,...,...,...,...,...,...,...,...,...,...
450,(Renewed) Titan Smart 2 with 1.78 AMOLED Displ...,11472.784594,Titan,Modern,Black,1.69,NaN,"Unisex Teen, Unisex Adult",Youth,NaN
451,"Titan Talk S with 1.78"" AMOLED Display|Advance...",8995.000000,Titan,Modern,Black,1.78,NaN,NaN,NaN,NaN
452,Titan Connected X Hybrid Smartwatch for Men wi...,11995.000000,Titan,Modern,Black,1.22,NaN,NaN,NaN,NaN
453,Titan Connected X Hybrid Smartwatch for Men wi...,11472.784594,Titan,Modern,Copper,1.22,NaN,NaN,NaN,NaN
454,Titan Connected X Hybrid Smartwatch for Men wi...,11472.784594,Titan,Modern,Green,1.69,NaN,NaN,NaN,NaN

In [ ]:
feature=df['Special Feature'].mode()[0]

In [ ]:
df['Special Feature']=df['Special Feature'].fillna(feature)

In [ ]:
audi=df['Target Audience'].mode()[0]

In [ ]:
df['Target Audience']=df['Target Audience'].fillna(audi)

In [ ]:
df.isnull().sum()

Name                         0
price                        0
Brand                        0
Style                        0
Colour                       0
Screen Size                  0
Special Feature              0
Target Audience              0
Age Range (Description)    404
Shape                      403
dtype: int64

In [ ]:
shape=df['Shape'].mode()[0]

In [ ]:
df['Shape']=df['Shape'].fillna(shape)

In [134]:
df.drop('Age Range (Description)',axis=1,inplace=True)

KeyError: "['Age Range (Description)'] not found in axis"

In [ ]:
df.drop('Name',axis=1,inplace=True)

In [ ]:
df.drop('Brand',axis=1,inplace=True)

In [ ]:
df.to_csv('dataset1.csv')

In [ ]:
data=pd.read_csv('dataset1.csv')

In [ ]:
data.head()

,Unnamed: 0,price,Style,Colour,Screen Size,Special Feature,Target Audience,Shape
0,0,1799.0,Modern,Black,1.83,bluetooth,"Unisex Teen, Unisex Adult",square
1,1,1799.0,Modern,Black,1.3,bluetooth,"Unisex Teen, Unisex Adult",square
2,2,1449.0,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",square
3,3,1299.0,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",square
4,4,1799.0,Modern,Pink,1.83,bluetooth,"Unisex Teen, Unisex Adult",square

In [ ]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:

import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [ ]:
data['Shape'].value_counts()

sqaure    419
Square     14
square     11
Round       7
round       4
Name: Shape, dtype: int64

In [ ]:
data1=pd.read_csv('dataset1.csv')

In [ ]:
data1.head()

,Unnamed: 0,price,Style,Colour,Screen Size,Special Feature,Target Audience,Shape
0,0,1799.0,Modern,Black,1.83,bluetooth,"Unisex Teen, Unisex Adult",square
1,1,1799.0,Modern,Black,1.3,bluetooth,"Unisex Teen, Unisex Adult",square
2,2,1449.0,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",square
3,3,1299.0,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",square
4,4,1799.0,Modern,Pink,1.83,bluetooth,"Unisex Teen, Unisex Adult",square

In [ ]:
data1['Style']=data1['Style'].astype(int)

ValueError: invalid literal for int() with base 10: 'Modern'

In [ ]:
data['Style']=data['Style'].astype(int)

ValueError: invalid literal for int() with base 10: 'Modern'

In [ ]:
data1['Colour'].value_counts()

Black              142
Grey                32
Pink                30
Blue                24
Jet Black           17
                  ...
Dark Blue            1
Cobalt Blue          1
Dusty Pink           1
Invisible Black      1
Copper               1
Name: Colour, Length: 83, dtype: int64

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       455 non-null    int64
 1   price            455 non-null    float64
 2   Style            455 non-null    object
 3   Colour           455 non-null    object
 4   Screen Size      455 non-null    object
 5   Special Feature  455 non-null    object
 6   Target Audience  455 non-null    object
 7   Shape            455 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 28.6+ KB

In [135]:
freq_map=data1.Colour.value_counts().to_dict()

In [ ]:
data1['Colour']=data1.Colour.map(freq_map)

In [ ]:
freq_map2=data1['Special Feature'].value_counts().to_dict()

In [ ]:
data1['Special Feature']=data1['Special Feature'].map(freq_map2)

In [136]:
freq_map3=data1['Shape'].value_counts().to_dict()
freq_map3

{419: 419, 14: 14, 11: 11, 7: 7, 4: 4}

In [ ]:
data1['Shape']=data1['Shape'].map(freq_map3)

In [ ]:
data1

,Unnamed: 0,price,Style,Colour,Screen Size,Special Feature,Target Audience,Shape
0,0,1799.000000,Modern,142,1.83,317,"Unisex Teen, Unisex Adult",11
1,1,1799.000000,Modern,142,1.3,317,"Unisex Teen, Unisex Adult",11
2,2,1449.000000,Modern,142,1.69,317,"Unisex Teen, Unisex Adult",11
3,3,1299.000000,Modern,142,1.69,317,"Unisex Teen, Unisex Adult",11
4,4,1799.000000,Modern,30,1.83,317,"Unisex Teen, Unisex Adult",11
...,...,...,...,...,...,...,...,...
450,450,11472.784594,Modern,142,1.69,317,"Unisex Teen, Unisex Adult",419
451,451,8995.000000,Modern,142,1.78,317,"Unisex Teen, Unisex Adult",419
452,452,11995.000000,Modern,142,1.22,317,"Unisex Teen, Unisex Adult",419
453,453,11472.784594,Modern,1,1.22,317,"Unisex Teen, Unisex Adult",419
454,454,11472.784594,Modern,14,1.69,317,"Unisex Teen, Unisex Adult",419

In [ ]:
data1['Shape'].value_counts()

419    419
14      14
11      11
7        7
4        4
Name: Shape, dtype: int64

In [ ]:
freq_map4=data1['Target Audience'].value_counts().to_dict()

In [ ]:
freq_map4

{'Unisex Teen, Unisex Adult': 419,
 'Unisex Children, Unisex Teen': 32,
 'Women': 3,
 'Women, Adult, Girls': 1}

In [80]:
data1['Target Audience']=data1['Target Audience'].map(freq_map4)

In [81]:
dataset4['category']=dataset4['category'].map({'Low':0,'Medium':1,'High':2})

NameError: name 'dataset4' is not defined

In [82]:
ss=data1['Screen Size'].value_counts().to_dict()
data1['Screen Size']=data1['Screen Size'].map(ss)

In [83]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       455 non-null    int64
 1   price            455 non-null    float64
 2   Style            455 non-null    object
 3   Colour           455 non-null    int64
 4   Screen Size      455 non-null    int64
 5   Special Feature  455 non-null    int64
 6   Target Audience  0 non-null      float64
 7   Shape            455 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 28.6+ KB

In [84]:
data1.drop(['Unnamed: 0'],axis=1,inplace=True)

In [85]:
data1.to_csv('final_data.csv')

In [86]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# load the dataset
df = pd.read_csv('final_data.csv')
df.drop(['Unnamed: 0'],axis=1,inplace=True)

# define the input features and target variable
X = df.iloc[:, :-3] # input features
# y1 = df.iloc[:, -3] # target variable 1 - target audience
y2 = df.iloc[:, -1] # target variable 2 - price category

# encode categorical variables


# split the dataset into train and test sets
X_train, X_test, y2_train, y2_test = train_test_split(X, y2, test_size=0.2, random_state=42)


# define the TensorFlow model
input_shape = (5,) # shape of input feature vector
# num_classes1 = 5 # number of target audience categories
num_classes2 = 3 # number of price categories

model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(16, activation='relu', input_shape=input_shape),
  tf.keras.layers.Dense(1, activation='linear'),
  # tf.keras.layers.Dense(num_classes1, activation='softmax', name='target_Audience'),
  tf.keras.layers.Dense(num_classes2, activation='softmax', name='category')
])

# compile the model
model.compile(optimizer='adam',
              loss={'category': 'sparse_categorical_crossentropy'},
              metrics={'category': 'accuracy'})

# # train the model
model.fit(X_train, {'category': y2_train},epochs=50, batch_size=32, validation_split=0.2)

# evaluate the model on the test set
accuracy1 = model.evaluate(X_test, {'category': y2_test})
# print("Target audience accuracy:", accuracy1['target_audience'])
print("your accuracy",accuracy1)

# # convert the TensorFlow model to TensorFlow Lite format
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

# save the TensorFlow Lite model to a file
with open('model.tflite', 'wb') as f:
  f.write(tflite_model)

# load the TensorFlow Lite model from a file
interpreter = tf.lite.Interpreter(model_path='model.tflite')
interpreter.allocate_tensors()
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()

# prepare input data
X_test = X_test.to_numpy(dtype=np.float32)

# make predictions on the test set
y1_pred = []
# y2_pred = []
for x in X_test:
  # set input tensor
  interpreter.set_tensor(input_details[0]['index'], [x])
  # run inference
  interpreter.invoke()
  # get output tensors
  output1 = interpreter.get_tensor(output_details[0]['index'])
  # output2 = interpreter.get_tensor(output_details[1]['index'])
  # # add predictions to results
  y1_pred.append(np.argmax(output1))

c:\Users\venu1\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\data_adapter.py:1696: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [87]:
model_input=np.array([1799,0,142,33,317])

In [137]:
import matplotlib.pyplot as plt

In [138]:
plt.plot(accuracy1)

NameError: name 'accuracy1' is not defined

In [91]:
dataset=pd.read_csv("dataset1.csv")

In [92]:
dataset.head()

,Unnamed: 0,price,Style,Colour,Screen Size,Special Feature,Target Audience,Shape
0,0,1799.0,Modern,Black,1.83,bluetooth,"Unisex Teen, Unisex Adult",square
1,1,1799.0,Modern,Black,1.3,bluetooth,"Unisex Teen, Unisex Adult",square
2,2,1449.0,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",square
3,3,1299.0,Modern,Black,1.69,bluetooth,"Unisex Teen, Unisex Adult",square
4,4,1799.0,Modern,Pink,1.83,bluetooth,"Unisex Teen, Unisex Adult",square

In [93]:
dataset4.drop('Unnamed: 0',axis=1,inplace=True)

NameError: name 'dataset4' is not defined

In [94]:
dataset4.drop('Unnamed: 5',axis=1,inplace=True)
dataset4.drop('Unnamed: 6',axis=1,inplace=True)

NameError: name 'dataset4' is not defined

In [95]:
dataset4.drop('Unnamed: 10',axis=1,inplace=True)

NameError: name 'dataset4' is not defined

In [96]:
dataset.head(2)

,Unnamed: 0,price,Style,Colour,Screen Size,Special Feature,Target Audience,Shape
0,0,1799.0,Modern,Black,1.83,bluetooth,"Unisex Teen, Unisex Adult",square
1,1,1799.0,Modern,Black,1.3,bluetooth,"Unisex Teen, Unisex Adult",square

In [97]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       455 non-null    int64
 1   price            455 non-null    float64
 2   Style            455 non-null    object
 3   Colour           455 non-null    object
 4   Screen Size      455 non-null    object
 5   Special Feature  455 non-null    object
 6   Target Audience  455 non-null    object
 7   Shape            455 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 28.6+ KB

In [98]:
import pandas as pd

In [99]:
dataset4=pd.read_csv('dataset1.csv')

In [100]:
dataset3['Colour'].value_counts()

NameError: name 'dataset3' is not defined

In [101]:
dataset4['Colour']=dataset4['Colour'].replace('Wine Red','Rose Golden')

In [102]:
dataset4['Colour'].value_counts()

Black          142
Grey            32
Pink            30
Blue            24
Jet Black       17
              ...
Ebony Black      1
Dark Blue        1
Cobalt Blue      1
Dusty Pink       1
Copper           1
Name: Colour, Length: 82, dtype: int64

In [103]:
dataset4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       455 non-null    int64
 1   price            455 non-null    float64
 2   Style            455 non-null    object
 3   Colour           455 non-null    object
 4   Screen Size      455 non-null    object
 5   Special Feature  455 non-null    object
 6   Target Audience  455 non-null    object
 7   Shape            455 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 28.6+ KB

In [104]:
dataset4['shape']=dataset4['shape'].replace('sqaure','Square')

KeyError: 'shape'

In [105]:
dataset4['shape']=dataset4['shape'].replace('round','Round')

KeyError: 'shape'

In [140]:
dataset4['shape'].value_counts()

KeyError: 'shape'

In [142]:
df=pd.get_dummies(dataset4['Colour'])

In [141]:
dataset4 = pd.concat([dataset4, df], axis=1)

In [139]:
df1=pd.get_dummies(dataset4['shape'])

KeyError: 'shape'

In [ ]:
dataset4=pd.concat([dataset4,df1],axis=1)

In [ ]:
dataset4.head()

,price,Style,Colour,Screen Size,Bluetooth,SpO2,Heart Rate monitor,Alarm clock,Distance tracker,sleep monitor,...,Green,Grey,Pink,Red,Rose Gold,Rose Golden,Silver,Round,Square,sqaure
0,1799,0,Black,1.83,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1799,0,Black,1.30,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1449,0,Black,1.69,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1299,0,Black,1.69,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1799,0,Pink,1.83,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
dataset4.head()

,price,Style,Colour,Screen Size,Bluetooth,SpO2,Heart Rate monitor,Alarm clock,Distance tracker,sleep monitor,...,Green,Grey,Pink,Red,Rose Gold,Rose Golden,Silver,Round,Square,sqaure
0,1799,0,Black,1.83,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1799,0,Black,1.30,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1449,0,Black,1.69,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1299,0,Black,1.69,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1799,0,Pink,1.83,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
dataset4.drop('sqaure',axis=1,inplace=True)

In [ ]:
dataset4.drop('Colour',axis=1,inplace=True)

In [ ]:
dataset4.drop('shape',axis=1,inplace=True)

In [ ]:
dataset4.info(
    
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               455 non-null    int64
 1   Style               455 non-null    int64
 2   Screen Size         455 non-null    float64
 3   Bluetooth           455 non-null    int64
 4   SpO2                455 non-null    int64
 5   Heart Rate monitor  455 non-null    int64
 6   Alarm clock         455 non-null    int64
 7   Distance tracker    455 non-null    int64
 8   sleep monitor       455 non-null    int64
 9   Activity tracker    455 non-null    int64
 10  Notifications       455 non-null    int64
 11  gps                 455 non-null    int64
 12  bp monitor          455 non-null    int64
 13  category            455 non-null    object
 14  Target Audience     455 non-null    object
 15  Black               455 non-null    uint8
 16  Blue                455 non-null    uint8
 17  Gold                455 non-null    uint8
 18  Green               455 non-null    uint8
 19  Grey                455 non-null    uint8
 20  Pink                455 non-null    uint8
 21  Red                 455 non-null    uint8
 22  Rose Gold           455 non-null    uint8
 23  Rose Golden         455 non-null    uint8
 24  Silver              455 non-null    uint8
 25  Round               455 non-null    uint8
 26  Square              455 non-null    uint8
dtypes: float64(1), int64(12), object(2), uint8(12)
memory usage: 58.8+ KB

In [108]:


from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

# Load your dataset into a Pandas DataFrame
dataset4 = pd.read_csv('perfect_data.csv')
dataset4=dataset4.drop('category',axis=1)
dataset4.drop('Unnamed: 0',axis=1,inplace=True)
print(dataset4.shape)
# Split the dataset into training and testing sets
train, test = train_test_split(dataset4, test_size=0.2, random_state=42)

# Define your features and target variables
X_train = train.drop('Target Audience', axis=1)
y_train = train['Target Audience']
X_test = test.drop('Target Audience', axis=1)
y_test = test['Target Audience']

# Train a decision tree classifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Predict on the test set and calculate accuracy
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(X_train.shape)
print(f"Accuracy: {accuracy}")

(455, 26)
(364, 25)
Accuracy: 0.9230769230769231

In [109]:
dataset4.columns

Index(['price', 'Style', 'Screen Size', 'Bluetooth', 'SpO2',
       'Heart Rate monitor', 'Alarm clock', 'Distance tracker',
       'sleep monitor', 'Activity tracker', 'Notifications', 'gps',
       'bp monitor', 'Target Audience', 'Black', 'Blue', 'Gold', 'Green',
       'Grey', 'Pink', 'Red', 'Rose Gold', 'Rose Golden', 'Silver', 'Round',
       'Square'],
      dtype='object')

In [110]:
dataset4.to_csv('perfect_data.csv')

In [112]:
import pickle
import tflite
import tensorflow

In [117]:
tf.keras.models.save_model(model,'project_marketfit/project/model.h5')

In [121]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import load_model

# Load the Keras model from H5 file
model = load_model('project_marketfit/project/model.h5')

# Convert the Keras model to TFLite format
converter = tf.lite.TFLiteConverter.from_keras_model(model)

# Set the optimizations for the converter
converter.optimizations = [tf.lite.Optimize.DEFAULT]

# Invoke the converter to generate a TFLite model
tflite_model = converter.convert()

# Save the TFLite model to disk
with open('my_model.tflite', 'wb') as f:
    f.write(tflite_model)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: C:\Users\venu1\AppData\Local\Temp\tmpgoyxijb2\assets

INFO:tensorflow:Assets written to: C:\Users\venu1\AppData\Local\Temp\tmpgoyxijb2\assets

In [143]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

# Load your dataset into a Pandas DataFrame
dataset5 = pd.read_csv('perfect_data.csv')
dataset5=dataset5.drop('Target Audience',axis=1)
dataset5.drop('Unnamed: 0',axis=1,inplace=True)
print(dataset5.shape)
# Split the dataset into training and testing sets
train, test = train_test_split(dataset5, test_size=0.2, random_state=42)

# Define your features and target variables
X_train = train.drop('category', axis=1)
y_train = train['category']
X_test = test.drop('category', axis=1)
y_test = test['category']

# Train a decision tree classifier
clf1 = DecisionTreeClassifier()
clf1.fit(X_train, y_train)

# Predict on the test set and calculate accuracy
y_pred = clf1.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(y_pred)
print(f"Accuracy: {accuracy}")

(455, 25)

KeyError: "['category'] not found in axis"

In [124]:
with open('model1.pickle', 'wb') as f:
    pickle.dump(clf1, f)

NameError: name 'clf1' is not defined